.main_content
	padding-top: 50px

.page-header
	padding: 0 15px

.long_url, .referrer, .user_agent
	p
		width: 600px
		text-overflow: ellipsis
		white-space: nowrap
		overflow: hidden
		margin: 0

.referrer
	p
		width: 250px
.user_agent
	p
		width: 350px

.well
	text-align: center